# Laravel & PHP
/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/app/public
/storage/framework
/storage/logs
/public/storage
.env
.env.*
.env.backup
.env.production
.phpunit.result.cache
.phpactor.json
.DS_Store
*.log

# Herramientas y editores
/auth.json
/.idea
/.vscode
/.fleet
/.nova
/.zed

# Homestead
Homestead.json
Homestead.yaml

# Logs node/npm
npm-debug.log
yarn-error.log

# PHPUnit
/.phpunit.cache
